<div class="main-form">
    <div class="form-login">
        <h1 class="h3 mb-1 text-center form-text">Ouvrir une session</h1>
        <p class="text-center">Administrateur du site internet.</p>
        <form class="" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}
    
            <div class="mb-3">
              <label for="email" class="form-label text-uppercase">Adresse email</label>
              <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" aria-describedby="emailInfo" placeholder="prenom@nom.com" required autofocus>
              <div id="emailInfo" class="form-text">Nous ne communiquerons jamais votre email à qui que ce soit.</div>
            </div>
            
            <div class="mb-3">
              <label for="password" class="form-label text-uppercase">Mot de passe</label>
              <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
              <label class="form-label form-text" for="show-password">
                <input type="checkbox" class="" id="show-password"> 
                Afficher le mot de passe</label>
            </div>
    
            <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
            >
    
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
    
            <button type="submit" class="btn primary-btn">Connexion</button>
        </form>
    </div>
    </div>